@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary: #3498db;
    --secondary: #2c3e50;
    --text: #ecf0f1;
    --light-text: #aaa;
    /* --dark-bg: rgba(44, 62, 80, 0.85); */
    --dark-bg: rgba(16, 23, 30, 0.85);
    --gray-btn: #95a5a6;
    --gray-btn-hover: #7f8c8d;
    --space-y: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: var(--text);
}

main {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
    padding: calc(2*var(--space-y)) 20px 20px;
    background: black;
}

#login-page {
    background: url('../images/background/login-bg.svg') no-repeat center center fixed, black;
    background-size: cover;
    position: relative;
}

#register-page {
    background: url('../images/background/register-bg.svg') no-repeat center center fixed, black;
    background-size: cover;
    position: relative;
}

.form-container {
    padding: 40px;
    background: var(--dark-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: fit-content;
    max-width: 400px;
    min-width: 300px;
    color: var(--text);
    /* position: relative; */
}

.form-header {
    text-align: center;
    margin-bottom: var(--space-y);
}

.form-header .form-logo {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto var(--space-y);
}

.form-header h3 {
    color: var(--text);
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.form-header p {
    color: var(--light-text);
    font-size: 0.95rem;
}

.form-group {
    margin-bottom: 24px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    color: var(--text);
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    background-color: transparent;
    font-size: 0.9rem;
    color: var(--text);
}

.form-group input:focus {
    outline: none;
    border-color: var(--primary);
}

.password-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: opacity 0.3s;
    opacity: 0.7;
}

.password-toggle:hover {
    opacity: 1.0;
}

#toggle-password {
    display: none;
}

#toggle-password:checked ~ .password-input[type="password"] {
    display: none;
}

#toggle-password:checked ~ .password-input[type="text"] {
    display: block;
}

.password-input[type="text"] {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.password-input {
    padding-right: 40px !important;
}

.form-links {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 0.9rem;
    color: var(--light-text);
}

.form-links * {
    color: var(--light-text);
}

.form-links a {
    color: var(--text);
    text-decoration: none;
    transition: color 0.3s;
}

.form-links a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.link-label {
    margin-right: 4px;
}

.form-submit {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    background: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 24px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s;
}

.form-submit:hover {
    background: #2980b9;
}

.form-login-separator {
    text-align: center;
    color: var(--light-text);
    position: relative;
    font-size: 0.9rem;
}

.form-google-btn {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s;
    text-decoration: none;
    color: var(--text);
}

.form-google-btn::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background:url('../images/icon/google-icon.svg') no-repeat center center;
    background-size: contain;
}

.form-google-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 480px) {
    .form-page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: var(--space-y);
        background: var(--dark-bg);
    }
    
    /* #login-page,
    #register-page {
        background-image: none;
    } */
}